
 .restform button {
    width: 120px;
    line-height: 1.5em;
    background-color: #64889F;
    color: white;
    border-radius: 4px;
    border:0;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom:5px;
    text-align: center;
    font-size: 1.3em;
}