
.view .object { padding: 5px; }
.view .key { color: #2E86C1; font-weight: bold; text-transform: capitalize; }
.view .property { padding: 5px; }
.view .property > div { display: inline }
.view .view .array { padding: 5px; display: table; }
.view .array > div { display: table-row; }
.view .array > div .key { display: none; }
.view .array > div:nth-child(2) > div .key { display: block; color: #2E86C1;}
.view .array > div > div { display: table-cell; border-right: 1px solid #2E86C1;}
