@page
@model MDA.Pages.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDA</title>
    <link href="FrontEnd/dist/index.css" rel="stylesheet">
    <link href="~/theme.css" rel="stylesheet">
    <link href="~/css/fontawesome.css" rel="stylesheet">
    <link href="~/css/brands.css" rel="stylesheet">
    <link href="~/css/solid.css" rel="stylesheet">    
</head>
<body>   

    <div class="container">
        <main class="content__main" id="react">
             <!-- React -->
        </main>
    </div> 
   
    <div id="footer" class="tile">
        <div>
            &copy; 2023 - MDA - Ingelogd als: @User.Identity.Name
        </div>      
    </div>    

    <environment names="Development">
        <script type="text/javascript" src="FrontEnd/dist/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="js/index.js" asp-append-version="true"></script>
    </environment>

    </body>
</html>