@page
@model MDA.Pages.IndexModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDA</title>
    <link rel="stylesheet" href="FrontEnd/node_modules/react-grid-layout/css/styles.css">
    <link rel="stylesheet" href="FrontEnd/node_modules/react-resizable/css/styles.css">
    <link href="FrontEnd/dist/index.css" rel="stylesheet">  
    <link href="~/css/icons.css" rel="stylesheet">      
</head>
<body>   

    <div class="container">
        <main class="content__main" id="react">
             <!-- React -->
        </main>
    </div> 
   
    <div id="footer">
        <div>
            &copy; 2023 - MDA - Ingelogd als: @User.Identity.Name
        </div>      
    </div>    

    <environment names="Development">
        <script type="module" src="FrontEnd/dist/index.js"></script>        
    </environment>
    <environment names="Staging,Production">
        <script type="module" src="FrontEnd/dist/index.js" asp-append-version="true"></script>
    </environment>

    </body>
</html>