* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #wrapper { width: 100vw; height: 100vh }

#app { display: flex; flex-direction: row;  }  
#wrapper { position: absolute; display: flex; flex-direction: column; }   

#header > div { min-height: 75px; resize: none; }
#header .logo { height: 50px; float: left;  margin: 10px; }
#header .user { height: 50px; float: right;  margin: 10px; color: #64889F }
#header .user span { vertical-align: top; margin-right: 5px; }
#header .user img { border-radius: 5px; margin-left: 5px }

::-webkit-scrollbar { width: 0px; background: transparent; }  